:root {
    --font--rubik: Rubik;

    --font-weight--light: 300;
    --font-weight--regular: 400;
    --font-weight--semi-bold: 500;

    --font-size: 18px;
    font-size: var(--font-size);
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik.ttf') format('truetype');
    font-style: normal;
}
